* {
  box-sizing: border-box;
  margin: 0;
}
.menu {
  margin-top: 0px;
}
.cargo1 {
  margin-top: 20px;
  margin-left: 20px;
  width: 350px;
  height: 400px;
}
.cargo1 img {
  width: 350px;
  height: 200px;
}
