* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}

#aktivna {
  background-color: purple;
  padding: 10px;
  margin: 0;
}

#neaktivna {
  padding: 10px;
  margin: 0;
}
.linked {
  margin: 0;
  color: white;
  padding: 10px;
  margin: 0;
}
.forma {
  width: 22rem;
  border-radius: 10px;
  border: 1px solid rgb(194, 192, 192);
  padding: 10px;
}
.linked:hover {
  background-color: grey;
  color: white;
}
.card {
  margin: auto;
  margin-top: 40px;
}
.div {
  width: 40%;
  height: 400px;
  margin: auto;
}
table {
  max-width: 400px;
  margin-top: 40px;
}
#action {
  width: 40%;
  margin: auto;
  margin-top: -100px;
}
#action2 {
  margin-left: 30%;
}
#action3 {
  margin-left: 30%;

  margin-top: 100px;
}
.jedan {
  width: 40%;
  margin-top: 20px;
  margin-left: 30%;
}
