.alert h1 {
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  top: 0;
  position: sticky;
  background-color: gold;
}
.alert {
  opacity: 0.9;
  box-shadow: rgba(247, 246, 246, 0.35) 0px -25px 25px -15px inset;
  z-index: 1000;
  top: 20vh;
  position: sticky;
}
.alert:hover {
  opacity: 1;
  box-shadow: rgba(236, 233, 233, 0.35) 0px -50px 36px -35px inset;
  transition: 0.5s ease;
  transform: scale(1.1, 1.1);
}
.alert a {
  text-decoration: none;
  color: gray;
}
.alert a:hover {
  transition: 0.5s ease;
  transform: scale(1.1, 1.1);
  color: white;
}
.end1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -5px inset;
  position: static;
  margin-top: 5rem;
  margin-bottom: 0;
  background-color: rgba(32, 32, 241, 0.8);
  width: 98.9vw;
  height: 56vh;
}
.end1 img {
  width: 30vw;
  height: 55.65vh;
}
.end1 h1 {
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.5rem;
  margin-right: 15rem;
  margin-top: 3rem;
  display: inline-block;
  float: right;
}
.end1 h1:hover {
  cursor: default;
  color: white;
  transition: 0.9s ease;
  transform: scale(0.9, 0.9);
}
.naslov {
  width: 50vw;
  left: 28rem;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.naslov h1 {
  opacity: 0.85;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 1rem;
  width: 40vw;
  height: 30vh;
  background-image: linear-gradient(rgb(77, 6, 240), rgb(164, 163, 165));
  font-family: "Quicksand", sans-serif;
  padding: 3rem;
  text-align: center;
}
.naslov h1:hover {
  opacity: 1;
  transform: scale(1.1, 1.05);
  cursor: default;
  transition: 0.9s ease;
}
.naslov a {
  color: white;
  text-decoration: none;
}
.child {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}
.child img {
  top: 45rem;
  left: 19rem;
  position: absolute;
  z-index: 10;
  height: 80vh;
  width: 60vw;
}
.child1 {
  z-index: 20;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0.85;
  border-radius: 1.5rem;
  margin: 1.5rem;
  background-image: linear-gradient(rgb(164, 163, 165), rgb(76, 0, 255));
  width: 45vw;
  padding: 1.5rem;
}
.child1:hover {
  opacity: 1;
  transition: 0.9s ease;
  transform: scale(1.05, 1.05);
}
.child1 h2 {
  padding: 0.5rem;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
}
.child1 p {
  font-family: "Kanit", sans-serif;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
}
.child1 ol {
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
}
.child2 {
  z-index: 20;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0.85;
  border-radius: 1.5rem;
  margin: 1.5rem;
  background-image: linear-gradient(rgb(164, 163, 165), rgb(76, 0, 255));
  width: 45vw;
  padding: 1.5rem;
}
.child2 h2 {
  padding: 0.5rem;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
}
.child2 p {
  font-family: "Kanit", sans-serif;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
}
.child2 ol {
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
}
.child2:hover {
  opacity: 1;
  transition: 0.9s ease;
  transform: scale(1.05, 1.05);
}
.child3 {
  z-index: 20;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0.85;
  border-radius: 1.5rem;
  margin: 1.5rem;
  background-image: linear-gradient(rgb(164, 163, 165), rgb(76, 0, 255));
  width: 45vw;
  padding: 1.5rem;
}
.child3 video {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}
.child3:hover {
  opacity: 1;
  transition: 0.9s ease;
  transform: scale(1.05, 1.05);
}
.slidze {
  top: 5rem;
  position: relative;
  height: 10vh;
}
#rukaa {
  position: relative;
  left: 1rem;
  height: 250px;
  width: 350px;
}
#rukaa:hover {
  transition: 0.5s ease;
  transform: scale(1.1, 1.1);
}
#ryka {
  float: right;
  height: 250px;
  width: 350px;
}
#prozor {
  margin-left: 10rem;
  height: 250px;
  width: 450px;
}
#prozor:hover {
  transition: 0.5s ease;
  transform: scale(1.4, 1.1);
}
#ryka:hover {
  transition: 0.5s ease;
  transform: scale(1.1, 1.1);
}
.child4 {
  z-index: 20;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0.85;
  border-radius: 1.5rem;
  margin: 1.5rem;
  background-image: linear-gradient(rgb(164, 163, 165), rgb(76, 0, 255));
  width: 45vw;
  padding: 1.5rem;
}
.child4 video {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}
.child4:hover {
  opacity: 1;
  transition: 0.9s ease;
  transform: scale(1.05, 1.05);
}
