* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(101, 150, 247);
}
header {
  background-color: white;
  height: 20vh;
}
header img {
  clear: both;
  float: left;
  width: 10vw;
  height: 20vh;
}
.linkovi {
  color: rgb(101, 150, 247);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25rem;
  margin-top: 7.25rem;
  margin-right: 3rem;
  float: right;
  display: inline-block;
}
.linkovi a {
  color: rgb(39, 43, 43);
  text-decoration: none;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.linkovi a:hover {
  color: aqua;
  padding: 5px;
  background-color: rgb(101, 150, 247);
  border-radius: 5px;
}
header p {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  padding-top: 3rem;
  padding-left: 1rem;
  letter-spacing: 1rem;
  float: left;
}
header:hover {
  transform: scale(1, 1.2);
  transition: 1.5s ease;
}
.linkovi:visited {
  color: red;
}
.reminder {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  background-color: rgba(32, 32, 241, 0.8);
}
.reminder:hover {
  transition: 0.5s ease;
  transform: scale(1.1, 1.1);
}
.reminder a {
  color: white;
  text-decoration: none;
}
.facts {
  display: inline-block;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-top: 3rem;
  color: rgb(247, 245, 242);
  background-image: url(./slike/crypto\ background.jpg);
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  height: 50vh;
  width: 50vw;
}
.facts img {
  float: left;
  height: 40vh;
}
.facts p {
  font-family: "Kanit", sans-serif;
  text-align: justify;
  font-size: 1.5rem;
  padding: 0.8rem;
  text-align-last: right;
}
.facts:hover {
  transition: 1.5s ease;
  transform: scale(1.1, 1.1);
  opacity: 0.8;
}
.fact2 {
  color: black;
  background-image: url(./slike/ethereum-cryptocurrency-technology-abstract-background-concept-light-neon-pink-blue-logo-futuristic-background-blue-3d-illustration-rendering_37129-2429.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-right: 2rem;
  float: right;
  margin-left: 4rem;
  background-color: aliceblue;
  height: 50vh;
  width: 40vw;
  display: inline-block;
}
.fact2 img {
  margin-top: 2.5rem;
  height: 40vh;
  width: 20vw;
  float: left;
}
.fact2 p {
  font-family: "Kanit", sans-serif;
  text-align: justify;
  font-size: 1.3rem;
  padding: 1.2rem;
  text-align-last: right;
}
.fact2:hover {
  transition: 1.5s ease;
  transform: scale(1.1, 1.1);
  opacity: 0.8;
}
.quote {
  border: 0.2rem outset blue;
  border-radius: 1rem;
  margin-left: 20.3rem;
  text-align: center;
  width: 56vw;
  height: 10vh;
  margin-top: 10rem;
  background-color: rgba(32, 32, 241, 0.8);
}
.slicica {
  margin-left: 0.5rem;
  margin-top: 3.4rem;
  display: inline-block;
  float: left;
  width: 20vw;
  height: 10vh;
}
.slicica img {
  width: 20vw;
  height: 35vh;
}
.slicica:hover {
  transition: 0.5s ease;
  transform: scale(1.05, 1.05);
}
.slicicaa {
  margin-top: -11.5rem;
  margin-right: 2rem;
  display: inline-block;
  float: right;
  width: 20vw;
  height: 10vh;
}
.slicicaa img {
  width: 20vw;
  height: 35vh;
}
.slicicaa:hover {
  transition: 0.5s ease;
  transform: scale(1.05, 1.05);
}
.quote p {
  font-family: "Noto Sans Buhid", sans-serif;
  padding-top: 0.3rem;
}
.quote:hover {
  transition: 0.8s ease;
  transform: scale(1.1, 1.05);
}
.buy {
  text-align: center;
  /* background-image: url(./slike/3d-rendering-ethereum-crypto-coin-growing-with-tree_510286-369.jpg); */
  border-radius: 1.5rem;
  /* background-size: 100% 100%; */
  margin-top: 10rem;
  margin-left: 1rem;
  display: inline-block;
  background-color: rgb(178, 150, 253);
  height: 30vh;
  width: 23vw;
}
.buy p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  font-size: 1.3rem;
  font-family: "Pontano Sans", sans-serif;
}
.buy h2 {
  font-family: "Farsan", cursive;
  font-size: 1.6rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  text-align: center;
}
.buy:hover {
  background-image: url(./slike/3d-rendering-ethereum-crypto-coin-growing-with-tree_510286-369.jpg);
  background-size: 100% 100%;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  transform: scale(1.1, 1.1);
}
.buy2 {
  text-align: center;
  color: white;
  background-color: rgba(41, 42, 43, 0.203);
}
.buy2 h2 {
  padding-right: 0.5rem;
}
.buy2:hover {
  background-image: url(./slike/0ae84e4ad705287833703ef36717fb34_350226.jpg);
}
.buy3 {
  color: rgb(178, 5, 5);
  text-align: center;
  background-color: rgb(3, 126, 142);
}
.buy3:hover {
  color: aqua;
  background-image: url(./slike/george-brx-03-15-ethereum-planet.jpg);
}
.buy4 {
  color: rgb(62, 1, 62);
  background-color: rgb(2, 153, 87);
  text-align: center;
}
.buy4:hover {
  color: red;
  background-image: url(./slike/ayi-ethereum-boga-3-lu-set-metal-duvar-tablosu-1565-jpg_700x700.jpg);
}
.big {
  background-image: url(./slike/eth-icon02.gif);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Prompt", sans-serif;
  padding: 1rem;
  border-radius: 1rem;
  opacity: 0.8;
  margin-bottom: 1rem;
  text-align: left;
  display: inline-block;
  background-color: rgb(196, 193, 193);
  width: 47vw;
  height: 30vh;
}
.big1 {
  margin-left: 1rem;
  text-align: left;
  display: inline-block;
  float: left;
}
h3 {
  letter-spacing: 1rem;
  line-height: 5rem;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(32, 32, 241, 0.8);
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 30rem;
  font-size: 2.5rem;
}
.big2 {
  margin-right: 1rem;
  text-align: right;
  display: inline-block;
  float: right;
}
.big3 {
  margin-left: 1rem;
  display: inline-block;
  text-align: left;
  float: left;
}
.big4 {
  margin-right: 1rem;
  display: inline-block;
  float: right;
  text-align: right;
}
.big5 {
  margin-left: 1rem;
  display: inline-block;
  float: left;
  text-align: left;
}
.big6 {
  margin-right: 1rem;
  display: inline-block;
  float: right;
  text-align: right;
}
.big:hover {
  opacity: 1;
  transform: scale(1.03, 1.1);
  transition: 0.9s ease;
}
.end {
  margin-top: 55rem;
  margin-bottom: 0;
  background-color: rgba(32, 32, 241, 0.8);
  width: 98.9vw;
  height: 55vh;
}
.end img {
  width: 30vw;
  height: 55vh;
}
