* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: auto;
  width: 80%;
  background-color: aqua;
  /* height: 90vh; */
  display: grid;
  /* grid-template-columns: 150px 250px;,dve vrednosti  za 2 divapredstavljaju da imamo dve kolone  */
  grid-template-columns: 1fr 2fr 1fr;
  /* grid-template-columns je da se svi elementi stave u kolonu i da se ponaosob unesu vrednosti za divove kako bi bili isti */
  /* takodje je ovo slicno flex grow */
  grid-template-columns: repeat(3, 1fr);

  /* grid-template-rows: 200px 150px; svaka vrednost predstavlja visinu elemenata za taj red. */
  /* grid-auto-rows: 200px; predstavlja visinu svih redova  */
  grid-auto-rows: minmax(150px, auto);

  /* grid-gap:x; */

  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  /* height: 150px; */
  background-color: burlywood;
}
.box2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  /* height: 150px; */
  background-color: blue;
}
.box3 {
  grid-column-start: 1;
  grid-column-end: 3;
  /* height: 150px; */
  background-color: yellow;
}
.box4 {
  grid-column: 1/-1;
  /* da se ne racunaju koliko ima stranica,ako cemo da popunimo ceo red jednim divom,cepimo samo */
  /*vrednosti za kolone se uzimaju ovako kao 1 kroz 4 itd... */
  /* height: 150px; */
  background-color: rgb(57, 55, 55);
}
.box5 {
  grid-column: span 2;
  /* height: 150px; */
  background-color: rgb(255, 0, 183);
}
.box6 {
  /* height: 150px; */
  background-color: rgb(0, 255, 47);
}
.box7 {
  /* height: 150px; */
  background-color: rgb(255, 0, 0);
}
