* {
  margin: 0;
  box-sizing: border-box;
}
.box {
  float: left;
  width: 100px;
  height: 100px;
}
.box1 {
  background-color: rgba(16, 169, 169, 0.6);
}
.box2 {
  background-color: black;
}
.box3 {
  background-color: rgb(110, 71, 71);
}

.box4 {
  background-color: blue;
}
.box5 {
  background-color: rgb(150, 36, 36);
}
.box6 {
  background-color: rgb(14, 219, 55);
}
.box7 {
  background-color: yellow;
}
.box8 {
  background-color: rgb(20, 1, 1);
}
